<div class="card mb-4">
  <div class="card-body">
      <div class="card-title">Créez des screenshots de sites web</div>
      <div class="row">
          <div class="col-lg-8 offset-lg-2">
              <form [formGroup]="browsershotForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col">
                      <input formControlName="url" type="text" class="form-control" placeholder="URL du site">
                  </div>
                  <div class="col-auto">
                      <button class="btn btn-primary" *ngIf="!showLoader">
                        <i class="i-Magnifi-Glass1"></i>
                      </button>
                      <button class="btn btn-primary" type="button" disabled *ngIf="showLoader">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Chargement...
                      </button>
                  </div>
                </div>
              </form>
          </div>
      </div>
  </div>
</div>
