<div class="card mb-4">
  <div class="card-body">
      <div class="card-title">Créez des screenshots de sites web</div>
      <div class="row" style="margin-bottom: 10px;">
          <div class="col-lg-8">
              <form [formGroup]="browsershotForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col" style="padding-right: 5px;">
                      <input formControlName="url" type="text" class="form-control" placeholder="URL du site">
                  </div>
                  <div class="col-auto" style="padding-left: 5px">
                      <button class="btn btn-primary btn-search" *ngIf="!showLoader">
                        <i class="i-Magnifi-Glass1"></i>
                      </button>
                      <button class="btn btn-primary" type="button" disabled *ngIf="showLoader">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Chargement...
                      </button>
                  </div>
                </div>
              </form>
          </div>
      </div>
      <div class="row">
        <div class="col">
          <a href="#">Besoin d'aide?</a>
        </div>
      </div>
  </div>
</div>
