<div class="breadcrumb">
    <h1>Coloriz</h1>
    <ul>
      <li>Le moteur de recherche qui transforme vos idées en couleurs</li>
    </ul>
</div>
<div class="separator-breadcrumb border-top"></div>

<div class="row">
    <div class="col-lg-12">
        <app-widget-query-form></app-widget-query-form>
    </div>
</div>
<div class="row">
    <div class="col-xl-4 col-lg-6 col-sm-12">
        <app-widget-last-queries></app-widget-last-queries>
    </div>
    <div class="col-xl-4 col-lg-6 col-sm-12">
            <app-widget-keywords-categories></app-widget-keywords-categories>
        </div>
    <div class="col-xl-4 col-lg-6 col-sm-12">
        <app-widget-most-queries></app-widget-most-queries>
    </div>
</div>
<!--div class="row">
    <div class="col-lg-6 col-md-12">
        <app-widget-best-colors></app-widget-best-colors>
    </div>
</div-->