<div class="breadcrumb">
    <h1>Coloriz</h1>
    <ul>
      <li>Le moteur de recherche qui transforme vos idées en couleurs</li>
    </ul>
</div>
<div class="separator-breadcrumb border-top"></div>

<div class="row">
    <div class="col-lg-12">
        <app-coloriz-query-form></app-coloriz-query-form>
    </div>
</div>
<div class="row row-eq-height">
    <div class="col-xl-6 col-lg-6 col-sm-12">
        <app-coloriz-last-queries></app-coloriz-last-queries>
    </div>
    <div class="col-xl-3 col-lg-6 col-sm-12">
        <app-coloriz-keywords-categories></app-coloriz-keywords-categories>
    </div>
    <div class="col-xl-3 col-lg-6 col-sm-12">
        <app-coloriz-best-queries></app-coloriz-best-queries>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <app-coloriz-keywords-color></app-coloriz-keywords-color>
    </div>
</div>
