<div class="card mb-3">
  <div class="card-body">
      <div class="card-title">Vos dernières recherches</div>
      <div class="mb-4" >
        <span *ngIf="queries.length > 0">
          <span class="tag-wrap" *ngFor="let query of queries | slice:0:30;">
            <a class="tag tag-primary" [routerLink]="['/results']" [queryParams]="{query:query.kw}">{{ query.kw }}</a>
          </span>
        </span>
        <span *ngIf="queries.length == 0">
          <p>Vous n'avez pas encore effectué de recherche.</p>
        </span>
      </div>
  </div>
</div>
