<div class="card mb-3">
  <div class="card-body">
      <div class="card-title">Idées de recherches par couleur</div>
      <div class="row m-4" >
          <div class="col-auto color-column mb-4">
            <h5>Couleurs</h5>
            <ul class="colors">
              <li  *ngFor="let color of colors" [ngClass]="color.toLowerCase()" (click)="colorChange(color)" [class.active]="color && color === selectedColor">{{ color }}</li>
            </ul>
          </div>
          <div class="col mb-4">
          <span class="tag-wrap" *ngFor="let keyword of keywordsByColors | filter : 'color' : selectedColor">
            <a [routerLink]="['/results']" [queryParams]="{query:keyword.query}" class="tag tag-light" >{{ keyword.query }}</a>
          </span>
        </div>
      </div>
  </div>
</div>
