<div class="card mb-4">
    <div class="card-body">
        <div class="card-title">Catégories</div>
        <ul class="list-group mb-4">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Cras justo odio
                <span class="badge badge-primary badge-pill">4</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Dapibus ac facilisis in
                <span class="badge badge-info badge-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Morbi leo risus
                <span class="badge badge-success badge-pill">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Morbi leo risus
                <span class="badge badge-warning badge-pill">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Morbi leo risus
                <span class="badge badge-danger badge-pill">1</span>
            </li>
        </ul>

        <div class="btn-container text-center">
            <button class="btn btn-primary btn-rounded">Voir plus <i class="i-Left-To-Right"></i></button>
        </div>
    </div>
</div>