<div class="breadcrumb">
  <h1>Détails</h1>
  <ul>
    <li><span style="cursor: pointer;" (click)="historyBack()">Retour</span></li>
  </ul>
</div>
<div class="separator-breadcrumb border-top"></div>


<div class="row" *ngIf="!showLoader">
  <div class="col-sm-12 col-md-9">
      <div class="card text-left">
          <div class="card-body">
            <tabset [justified]="true" customClass="nav-pills">
              <tab heading="Carte" id="carte">
                <h4 class="card-title mb-3">Carte des couleur</h4>
                <div style=" height: 600px;">
                  <highcharts-chart
                  [Highcharts]="Highcharts"
                  [options]="chartOptions"

                  style="width: 100%; height: 100%; display: block;">
                  </highcharts-chart>

                </div>
              </tab>
              <tab heading="Listing" id="listing">
              <h4 class="card-title mb-3">Liste des couleurs</h4>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Couleur</th>
                      <th>Code Hexa</th>
                      <th>Code Rgb</th>
                      <th>Score</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let color of colors">
                    <tr>
                      <td><span class="table-color"  [ngStyle]="{background: color.color ? color.color : '#FFF'}"></span></td>
                      <td>{{ color.color }}</td>
                      <td>{{ getRgbColor(color.color) }}</td>
                      <td>{{ color.value }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              </tab>
            </tabset>
          </div>
      </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card text-left search-result">
      <div class="card-body card-palette">
        <div class="palette-img-container">
          <img [src]="imageUrl">
        </div>
        <div class="content" *ngIf="mainColor">
          <h4>Couleur dominante</h4>
          <div class="area mb-4">
            <div class="color" [ngStyle]="{background: mainColor ? mainColor : '#FFF'}"></div>
          </div>
          <h4>Palette</h4>
          <div class="area">
            <div *ngFor="let paletteColor of palette" class="color"  [ngStyle]="{background: paletteColor ? paletteColor : '#FFF'}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="loader" *ngIf="showLoader">
  <div class="loader-bubble loader-bubble-primary m-5"></div>
  <h5>Chargement en cours ...</h5>
</div>
