<div class="row mb-4">
  <div class="col-md-12 mb-4">
      <div class="card text-left">

          <div class="card-body">
            <div class="card-title">À l'aide de cet outil, découvrez la palette de couleurs d'une photo que vous aimez.</div>
            <dropzone class="mb-2" [config]="config" [message]="'Cliquez ou déplacez une image ici - taille max: 10Mb'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
            <div class="btn btn-primary btn-block" (click)='resetDropzoneUploads()'>Réinitialisation</div>
          </div>
      </div>

  </div>
</div>
<div class="row mb-4" *ngIf="images.length > 0">
  <div class="col-xl-3 col-lg-4 col-md-6 mb-4 image-result" *ngFor="let image of images">
      <div class="overlay-actions">
          <a [routerLink]="['/image-colors-details']" [queryParams]="{id: image.id}" class="btn btn-primary btn-rounded"><i class="i-Remove"></i> Détails</a>
      </div>
    <div class="card text-left">
      <div class="card-body card-palette">
        <div class="palette-img-container">
          <img [src]="image.url">
        </div>
        <div class="content">
          <h4>Couleur dominante</h4>
          <div class="area mb-4">
            <div class="color" [ngStyle]="{background: image.color ? image.color : '#FFF'}"></div>
          </div>
          <h4>Palette</h4>
          <div class="area">
            <div *ngFor="let paletteColor of image.palette" class="color"  [ngStyle]="{background: paletteColor ? paletteColor : '#FFF'}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4" *ngIf="imageHistorique.length > 0">
  <div class="col-12">
      <div class="card">
        <div class="card-body">
        <h3 class="mb-0">Vos dernières analyses</h3>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4" *ngIf="imageHistorique.length > 0">
    <div class="col-xl-3 col-lg-4 col-md-6 mb-4 image-result" *ngFor="let image of imageHistorique">
        <div class="overlay-actions">
            <button class="btn btn-danger btn-rounded" (click)="delete(image.id)"><i class="i-Remove"></i> Supprimer</button>
            <a [routerLink]="['/image-colors-details']" [queryParams]="{id: image.id}" class="btn btn-primary btn-rounded"><i class="i-Remove"></i> Détails</a>
        </div>
      <div class="card text-left">
        <div class="card-body card-palette">
          <div class="palette-img-container">
            <img [src]="image.url">
          </div>
          <div class="content">
            <h4>Couleur dominante</h4>
            <div class="area mb-4">
              <div class="color" [ngStyle]="{background: image.color ? image.color : '#FFF'}"></div>
            </div>
            <h4>Palette</h4>
            <div class="area">
              <div *ngFor="let paletteColor of image.palette" class="color"  [ngStyle]="{background: paletteColor ? paletteColor : '#FFF'}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


