<div class="breadcrumb">
  <h1>Capturez tous les sites Web</h1>
</div>
<div class="separator-breadcrumb border-top"></div>

<app-browsershot-form></app-browsershot-form>


<div class="card mb-4">
  <div class="card-body">
      <h5 class="card-title">Sites web les plus visités</h5>
      <div class="row">
          <div class="col-md-4">
              <div class="card text-white o-hidden mb-3">
                  <img class="card-img" src="http://via.placeholder.com/529x353" alt="">
                  <div class="card-img-overlay">
                      <div class="p-1 text-left card-footer font-weight-light d-flex">
                          <span class="mr-3 d-flex align-items-center"><i class="i-Speach-Bubble-6 mr-1"></i>
                              <a target="_blank" style="color: #FFF" href="https://www.recette-pateacrepe.fr">https://www.recette-pateacrepe.fr</a> </span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card text-white o-hidden mb-3">
                  <img class="card-img" src="http://via.placeholder.com/529x353" alt="">
                  <div class="card-img-overlay">
                      <div class="p-1 text-left card-footer font-weight-light d-flex">
                          <span class="mr-3 d-flex align-items-center"><i class="i-Speach-Bubble-6 mr-1"></i>
                              <a target="_blank" style="color: #FFF" href="https://www.recette-pateacrepe.fr">https://www.recette-pateacrepe.fr</a> </span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card text-white o-hidden mb-3">
                  <img class="card-img" src="http://via.placeholder.com/529x353" alt="">
                  <div class="card-img-overlay">
                      <div class="p-1 text-left card-footer font-weight-light d-flex">
                          <span class="mr-3 d-flex align-items-center"><i class="i-Speach-Bubble-6 mr-1"></i>
                              <a target="_blank" style="color: #FFF" href="https://www.recette-pateacrepe.fr">https://www.recette-pateacrepe.fr</a> </span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card text-white o-hidden mb-3">
                  <img class="card-img" src="http://via.placeholder.com/529x353" alt="">
                  <div class="card-img-overlay">
                      <div class="p-1 text-left card-footer font-weight-light d-flex">
                          <span class="mr-3 d-flex align-items-center"><i class="i-Speach-Bubble-6 mr-1"></i>
                              <a target="_blank" style="color: #FFF" href="https://www.recette-pateacrepe.fr">https://www.recette-pateacrepe.fr</a> </span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card text-white o-hidden mb-3">
                  <img class="card-img" src="http://via.placeholder.com/529x353" alt="">
                  <div class="card-img-overlay">
                      <div class="p-1 text-left card-footer font-weight-light d-flex">
                          <span class="mr-3 d-flex align-items-center"><i class="i-Speach-Bubble-6 mr-1"></i>
                              <a target="_blank" style="color: #FFF" href="https://www.recette-pateacrepe.fr">https://www.recette-pateacrepe.fr</a> </span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card text-white o-hidden mb-3">
                  <img class="card-img" src="http://via.placeholder.com/529x353" alt="">
                  <div class="card-img-overlay">
                      <div class="p-1 text-left card-footer font-weight-light d-flex">
                          <span class="mr-3 d-flex align-items-center"><i class="i-Speach-Bubble-6 mr-1"></i>
                              <a target="_blank" style="color: #FFF" href="https://www.recette-pateacrepe.fr">https://www.recette-pateacrepe.fr</a> </span>
                      </div>
                  </div>
              </div>
          </div>
    </div>
  </div>
</div>
