<div class="card mb-4">
  <div class="card-body">
      <div class="card-title">Entrez n'importe quel mot, nous trouverons les teintes associées ! </div>
      <div class="row">
          <div class="col-lg-8 offset-lg-2">
              <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                  <div class="form-group row">
                      <div class="col" style="padding-right: 5px; padding-left: 5px;">
                          <input [(ngModel)]="customSelected"
                          [typeahead]="tagsAc"
                          typeaheadOptionField="v"
                          [typeaheadMinLength]="2"
                          formControlName="query" type="text" class="form-control" placeholder="De quelle couleur est...">
                      </div>
                      <div class="col-auto" style="padding-left: 5px;">
                          <button class="btn btn-primary"><i class="i-Magnifi-Glass1"></i></button>
                      </div>
                  </div>


              </form>
          </div>
      </div>
  </div>
</div>
