
<div class="row">
  <div class="col-xl-6 mb-4">
      <div class="card text-left">
          <div class="card-body">
            <h4 class="card-title mb-3">Comparez votre image avec la version compressée</h4>
            <div id="slider" class="beer-slider" data-beer-label="Originale">
              <img [src]="result.file.url">
              <div class="beer-reveal" data-beer-label="Compressée">
                  <img [src]="result.fileCompress.url">
              </div>
            </div>
          </div>
      </div>
  </div>
  <div class="col-xl-6 mb-4">

    <div class="col-12 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="compression-description">
              <div class="row">
                  <div class="col-md-5 separator-r">
                    <h5>Avant</h5>
                      <span class="number">{{ result.file.size | filesize }}</span>
                  </div>
                  <div class="col-md-5 separator-r">
                      <h5>Après</h5>
                      <span class="number">{{ result.fileCompress.size | filesize }}</span>
                  </div>
                  <div class="col-md-2">
                      <h5>Gain</h5>
                      <span class="number">{{ result.datas.gain_pct }}%</span>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-9" style="padding-right:0;">
                  <button (click)="download" class="btn btn-lg btn-primary btn-block btn-custom-left"><i class="i-Download1"></i> Télécharger</button>
              </div>
              <div class="col-3" style="padding-left:0;">
                  <a routerLink="/image-compression" class="btn btn-lg btn-outline-secondary btn-block btn-custom-right"><i class="i-Back1"></i> Retour</a>
              </div>
          </div>
      </div>
    </div>
  </div>

  <div class="col-12 mb-4">
      <div class="card">
        <div class="card-body">
          <div *ngIf="!color">
            <h4 class="card-title mb-3">Analyser les couleurs</h4>
            <button class="btn btn-primary" (click)="submitExtractColors()"  *ngIf="!showLoader"><i class="i-Gear"></i> Lancer</button>
            <button class="btn btn-primary" type="button" disabled *ngIf="showLoader">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Chargement...
            </button>
          </div>
          <div *ngIf="color">
            <h4 class="card-title mb-3">Couleur dominante</h4>
            <div class="area mb-4">
              <div class="color" [ngStyle]="{background: color ? color : '#FFF'}"></div>
            </div>
            <h4 class="card-title mb-3">Palette</h4>
            <div class="area">
              <div *ngFor="let paletteColor of palette" class="color"  [ngStyle]="{background: paletteColor ? paletteColor : '#FFF'}"></div>
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>

</div>

