<div class="side-content-wrap">
  <div class="sidebar-left" [ngClass]="menuState" data-perfect-scrollbar data-suppress-scroll-x="true">
      <ul class="navigation-left">
          <li class="nav-item active" data-item="dashboard">
              <a class="nav-item-hold" routerLink="/">
                  <i class="nav-icon i-Home1"></i>
                  <span class="nav-text">Vue d'ensemble</span>
              </a>
              <div class="triangle"></div>
          </li>
          <li class="nav-item" data-item="uikits">
              <a class="nav-item-hold" routerLink="analyser-image">
                  <i class="nav-icon i-Pipette"></i>
                  <span class="nav-text">Extraire les couleurs d'une image</span>
              </a>
              <div class="triangle"></div>
          </li>
          
      </ul>
  </div>
</div>
<!--=============== Left side End ================-->